@font-face {
    font-family: 'Mea Culpa';
    src: url('MeaCulpa-Regular.woff2') format('woff2'),
        url('MeaCulpa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

